---
import { getCollection } from "astro:content"
import Base from "~/components/Base.astro";

const apps = await getCollection("apps");
---

<Base>
    <div class="p-4">
        <h1 class="text-4xl font-bold mb-2">Apps</h1>
        <ul class="list bg-base-200">
            {apps.map(post => (
                <li class="list-row grid grid-cols-1 items-center">
                    <div class="col-span-full">
                        <span class="text-lg font-bold">{post.data.title}</span>
                        <ul class="flex flex-nowrap gap-2 w-full ml-4 max-sm:ml-0 overflow-x-auto">
                        {post.data.tags.map(tag => (
                            <li class="badge badge-sm badge-neutral w-fit hyphens-none text-nowrap"><a href=`/tags/${tag}/`>{tag}</a></li>
                        ))}
                        </ul>
                        <p class="ml-4 max-sm:ml-0">{post.data.description}</p>
                    </div>
                    <div class="ml-auto gap-2 flex flex-nowrap items-center max-sm:flex-col">
                        {post.data.state === "unstable" && <div class="badge badge-soft badge-warning max-sm:badge-sm min-w-fit">Unstable</div>}
                        {post.data.state === "stable" && <div class="badge badge-soft badge-success max-sm:badge-sm min-w-fit">Stable</div>}
                        {post.data.state === "abandoned" && <div class="badge badge-soft badge-error max-sm:badge-sm min-w-fit">Abandoned</div>}
                        <a class="btn btn-soft max-sm:btn-sm" href={`/apps/${post.id}/`}>More Info</a>
                    </div>
                </li>
            ))}
        </ul>
    </div>
</Base>
