---
import { getCollection } from "astro:content"
import Base from "~/components/Base.astro";

const apps = await getCollection("apps");
---

<Base>
    <div class="p-4">
        <h1 class="text-4xl font-bold mb-2">Apps</h1>
        <ul class="list bg-base-200">
            {apps.map(post => (
                <li class="list-row flex items-center">
                    <div>
                        <span class="text-lg font-bold">{post.data.title}</span>
                        <ul class="flex gap-2 ml-4">
                        {post.data.tags.map(tag => (
                            <li class="badge badge-sm badge-neutral"><a href=`/tags/${tag}`>{tag}</a></li>
                        ))}
                        </ul>
                        <p class="ml-4">{post.data.description}</p>
                    </div>
                    <div class="ml-auto">
                        {post.data.state === "unstable" && <div class="badge badge-soft badge-warning">Unstable</div>}
                        {post.data.state === "stable" && <div class="badge badge-soft badge-success">Stable</div>}
                        {post.data.state === "abandoned" && <div class="badge badge-soft badge-error">Abandoned</div>}
                        <a class="btn btn-soft" href={`/apps/${post.id}`}>More Info</a>
                    </div>
                </li>
            ))}
        </ul>
    </div>
</Base>
